/*
 * CONFIG VARIABELS LIST
 */

/**********************************************
               - VARIABELS LIST -
**********************************************/
$font-default: 			Arial, Helvetica, sans-serif;
$font-second: 			Arial, Helvetica, sans-serif;

$color-default: 		#dcd9d5;
$color-white: 			#fff;
$color-golden-general: 	#fdc061;
$color-green-general: 	#3daa45;

$color-white-light:		#ededed;

$color-dark-light:		#797979;
$color-dark-medium:		#302d28;
$color-dark:			#13100e;

$color-error: 			#e50000;
/*********************************************/
/*********************************************/